//----------------
//animation for My Work
//---------------

.headerHead {
  padding: 0 7rem;
}

.headerLogo {
  padding: 2rem 5.5rem;
  font-size: 3rem;
}

.headerText {
  padding: 3rem 10.5rem;
  font-size: 1rem;
}

.textInformationMain {
  max-width: 140rem;
  padding-left: 11.5rem;
  padding-right: 11.5rem;
  font-size: 2rem;
}

.textInformation {
  max-width: 140rem;
  padding: 2rem 11.5rem;
  font-size: 2rem;
  color: #575957;
}

.marker {
  background: #63b945;
  height: 22rem;
}

.markerText {
  width: 50%;
  padding: 2.5rem;
}

.markerMain {
  font-size: 1.6rem;
  padding: 9rem 10rem;
  width: 50%;
}

.padding-bottom-6 {
  padding-bottom: 6rem;
}

.padding-2 {
  padding: 2rem;
}

.padding-left-right {
  padding-left: 3rem;
  padding-right: 3rem;
}

.padding-0-10 {
  padding: 0 10rem;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.colorOne {
  background: #ddffcc !important;
}

.colorTwo {
  color: #a2a2a2 !important;
}

.colorThree {
  color: #66cc00 !important;
}

.colorFour {
  background: #f1f2f2;
}

.fitnes {
  line-height: 2rem;
  color: black;
  font-size: 1.5rem !important;
  padding: 4rem;
}

.colorFive {
  background: #ccffcc;
}

.timeNumber {
  color: #66cc00;
  font-size: 5rem;
  margin: -12rem;
  padding: 0 28rem;
}

.textTwo {
  color: #66cc00;
  margin: -5rem;
  width: max-content;
  padding: 0 18rem;
}

.timeText {
  color: #66cc00;
  margin: 11rem 18rem;
}

.fone-footer {
  background: #4c4c4c;
  height: 10rem;
}

.padding-4-30 {
  padding: 4rem 30rem;
}

.selectOptin {
  font-size: 1.5rem;
  width: 30rem;
  padding: 0.7rem 0.5rem;
}

.width-50{
  width: 50%;
}

.width-content {
  width: max-content;
}

.height-50 {
  height: 50rem
}