//---
//carousel
//-------

.carousel-indicators {
  bottom: 0;
  border-radius: 50%;
  color: black;
}

.carousel .item {

  @media (min-width: $screen-xs) {
    height: 50rem;
    width: 60rem;
  }

  /*@media (max-width: $screen-xs) {
    height: 55rem;
    width: 40rem;
  }

  @media (min-width: $screen-sm) {
    height: 50rem;
    width: 80rem;
  }*/

  @media (max-width: $screen-sm) {
    height: 50rem;
    width: 60rem;
  }

  /*@media (max-width: $screen-md) {
    height: 50rem;
    width: 80rem;

    .wrap {
      padding: 0px;
    }
  }*/

  @media (min-width: $screen-md) {
    height: 30rem;
    width: 110rem;

    .wrap {
      padding: 0;
    }
  }
}

.carousel-caption h3,
.carousel .icon-container {
  color: #000;
  padding: 0.5rem;
}

// Animation delays
//-------------------

.carousel-caption h3:first-child {
  animation-delay: 1s;
}

.carousel-caption h3:nth-child(2) {
  animation-delay: 2s;
}
/*
.carousel-indicators
.carousel-inner{
  background-color: prime;
  color: prime;
  background-color: prime;
}*/

.carousel-indicators li {
  //border: none;
  border-radius: 50% !important;
  //background-color: #fff;
}

.carousel-indicators .active {
  background-color: #3a9c61;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutMy1 {
  background-image: url("./../img/carusel.jpg");
  background-repeat: repeat-y;
  background-size: contain;
  //background-position: centre;
  width: 6rem;
  height: 6rem;
  border-radius: 40rem;
}

.text-ora {
  background-color: orange;
}

.text-gre {
  background-color: green;
}

.control-prev-icon {
  left: -25rem;
  position: absolute;
}

.control-next-icon {
  right: -25rem;
  position: absolute;
}